.scene {
  position: relative;
  left: calc(50% - var(--scene-width) / 2);
  top: calc(50% - var(--scene-height) / 2);
  width: var(--scene-width);
  height: var(--scene-height);
  font-size: 30px;
}
