.outer-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

  .main-container {
    height: 100%;
    width: calc(100% - var(--sidebar-strip-width));
    transform: translateX(0px);
    transition: all 0.4s ease-out;
  }

  .sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    width: var(--sidebar-strip-width);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: linear-gradient(to bottom right, #6d1e33c9, #421253c9);
    border-left: 1px solid #471220;
    transition: width 0.4s ease-out;
    z-index: 1;

    .control-section {
      order: 1;
      width: 0;
      height: 100%;
      opacity: 0;
      z-index: -10;
    }

    .sidebar-strip {
      order: 2;
      width: var(--sidebar-strip-width);
      height: 100%;
      position: relative;

      .hamburger {
        position: absolute;
        left: 50%;
        top: calc(var(--sidebar-strip-width) / 2);
        transform: translate(-50%, -50%);
      }
    }

    &.full {
      width: max(15vw, 174px);

      .control-section {
        width: calc(100% - var(--sidebar-strip-width));
        opacity: 1;
        z-index: 1;
      }

      & + .main-container {
        transform: translateX(min(var(--sidebar-strip-width) - 15vw, -120px));
      }
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;

  .header {
    height: 8%;
    width: 100%;
  }

  .display-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #d8c3af;
    overflow: hidden;

    * {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.control-section {
  position: relative;

  #animation-type {
    position: absolute;
    display: flex;
    top: 12%;
    right: calc(50% - var(--sidebar-strip-width) / 2);
    width: max(190%, 20.4em);
    transform: translateX(25%);
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;

    .active {
      z-index: 9;
    }
  }

  #randomize-btn {
    position: absolute;
    top: 26%;
    left: calc(50% + var(--sidebar-strip-width) / 2);
    transform: translateX(-50%);
  }

  mat-slider {
    position: absolute;
    top: 40%;
    right: calc(50% - var(--sidebar-strip-width) / 2);
    width: 100%;
    transform: translate(50%);
  }

  p {
    position: absolute;
    top: 49%;
    right: calc(50% - var(--sidebar-strip-width) / 2);
    width: 100%;
    transform: translate(50%);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #023752;
    opacity: 0.9;
  }

  #sorting-type {
    position: absolute;
    display: flex;
    top: 58%;
    right: calc(50% - var(--sidebar-strip-width) / 2);
    width: max(190%, 20.4em);
    transform: translateX(25%);
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;

    .active {
      z-index: 7;
    }
  }

  #visualize-btn {
    position: absolute;
    top: 72%;
    left: calc(50% + var(--sidebar-strip-width) / 2);
    transform: translateX(-50%);
  }

  .message {
    position: absolute;
    top: 86%;
    left: calc(50% + var(--sidebar-strip-width) / 2);
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #08ffea;
    text-shadow: 1px 1px 6px black;
    opacity: 0;

    &.show {
      opacity: 0.95;
    }
  }
}

.hide {
  visibility: hidden;
}

.disabled {
  pointer-events: none;
}
