<nav id="nav-bar">
  <a href="/"><h1>Visualise Sorting Algorithms</h1></a>
</nav>
<section class="container">
  <section class="display-section">
    <div class="scene">
      <div
        *ngFor="let number of unsortedNumbers; index as i"
        class="ball"
        id="ball-{{ i + 1 }}"
      ></div>
    </div>
  </section>

  <section class="control-section">
    <app-option-list
      class="animation-type"
      [options]="options"
      [label]="'Animation Type'"
    ></app-option-list>
  </section>
</section>
