<nav id="nav-bar">
  <a href="/"><h1>Visualize Sorting Algorithms</h1></a>
</nav>
<section class="container">
  <section class="display-section">
    <div [ngSwitch]="animationType">
      <app-balls-display
        *ngSwitchCase="'ball'"
        [value]="value"
        [sortingType]="sortingType"
        (changeminmax)="onMinMaxChange($event)"
        (sortingfunctioninit)="onSortingFunctionInit($event)"
      ></app-balls-display>
      <app-bars-display
        *ngSwitchCase="'bar'"
        [value]="value"
        [sortingType]="sortingType"
        (changeminmax)="onMinMaxChange($event)"
        (sortingfunctioninit)="onSortingFunctionInit($event)"
      ></app-bars-display>
    </div>
  </section>

  <section class="control-section">
    <app-option-list
      class="animation-type {{ disabled ? 'disabled' : '' }}"
      [options]="animationOptions"
      [label]="'Animation Type'"
      (change)="onAnimationTypeChange($event)"
    ></app-option-list>

    <div class="slider-box">
      <mat-slider
        class="{{ disabled ? 'disabled' : '' }}"
        [min]="min"
        [max]="max"
        [value]="value"
        (input)="onInput($event)"
        thumbLabel
      ></mat-slider>
      <p>Balls No: {{ value }}</p>
    </div>

    <app-option-list
      class="sorting-type {{ disabled ? 'disabled' : '' }}"
      [options]="sortingOptions"
      [label]="'Sorting Algorithm'"
      (change)="onSortingTypeChange($event)"
    ></app-option-list>

    <button
      class="btn btn-{{ !disabled ? 'primary' : 'disabled' }}"
      id="visualize-btn"
      (click)="onClick($event)"
    >
      Visualize
    </button>

    <span class="message {{ sortingComplete ? 'done' : '' }}"
      >Sorting Complete!!</span
    >
  </section>
</section>
